<div class="container">
<h1>New Task</h1>

  <%= form_for(@task) do |t| %>
  <div class="form-group">
    <%= t.label :title %>
    <%= t.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= t.label :details %>
    <%= t.text_field :details, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= t.label :completed %>
    <%= t.check_box :completed, class: 'form-control' %>
  </div>

  <%= t.submit class: 'btn btn-primary' %>
  <% end %>

  <div class="back-list">
  <%= link_to "Back to List", tasks_path %>
  </div>

</div>
